.pie {
  height: 300px;
  width: 600px;
  overflow: hidden;
  position: absolute;
  transform-origin: 50% 100%;

  &:before {
    height: inherit;
    width: inherit;
    position: absolute;
    content: "";
    border-radius: 300px 300px 0 0;
    transform-origin: 50% 100%;
    transform: rotate(90deg);
  }
}

.pie1 {
  &:before {
    background-color: red;
  }
}

.pie2 {
  &:before {
    background-color: green;
  }
  transform: rotate(90deg);
}

.pie3 {
  transform: rotate(180deg);
  &:before {
    background-color: blue;
  }
}

.pie4 {
  transform: rotate(270deg);
  &:before {
    background-color: pink;
  }
}

.parent {
  width: 600px;
  height: 600px;
  position: relative;

  animation-duration: 10s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: spinning;
  animation-timing-function: linear;
  /* animation-timing-function: cubic-bezier(0.44, -0.205, 0, 1.13); */

  /* animation: spinning 5s forwards ease-in-out; */
}

@keyframes spinning {
  from {
    transform: rotate(0);
  }
  to {
    /* https://stackoverflow.com/a/28783766 */
    /* transform: rotate(10000deg); */
  }
}

.content {
  display: grid;
  place-content: center;
  z-index: 999;
  width: 50%;
  height: 100%;
  position: absolute;
  rotate: -45deg;
  font-size: xx-large;
  font-weight: bold;
}
